.contact_us{
   display: flex;
   flex-direction: column;
   background: #F0F1F4;
   overflow: hidden;

   &_body{
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 768px) {
         flex-direction: column;
      }

      &_form{
         padding: 3vw 10vw 5vw 13vw;
         width: 100%;
         text-align: start;

         @media screen and (max-width: 768px){
            padding: 3vw 10vw 8vw 13vw;
         }
         @media screen and (max-width: 425px){
            padding: 3rem 1.5rem 2rem;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
         }

         .form_title{
            text-transform: uppercase;
            margin-bottom: 10vw;
            margin-top: 3rem;

            @media screen and (max-width: 1250px){
               margin-bottom: 8vw;
            }
            @media screen and (max-width: 1024px){
               margin-bottom: 6vw;
            }
            @media screen and (max-width: 425px){
               line-height: 26px;
               margin-top: 0;
               margin-bottom: 3.5rem;
            }
         }

         .form{
            display: flex;
            flex-direction: column;
            align-items: center;

            @media screen and (max-width: 425px){
               width: 100%;
            }

            div{
               margin-top: 30px;
               position: relative;

               div{
                  margin-top: 0;
               }
            }
            label{
               font-size: 8px;
               margin-top: 5px;
               text-transform: uppercase;
               color: #E34600;
               position: absolute;
               top: -1.8rem;
            }

            .form-control{
               resize: none;
               border: 0px;
               border-bottom: 1px solid #ced4da;
               border-radius: 0;
               padding: 0;
               background: #F0F1F4;

               &:focus{
                  box-shadow: none;
                  border-color: #E34600;
                  color: #000;
                  background: #F0F1F4;
               
               }
            }

            .message {
               margin-top: 1.3rem;

               textarea{
                  height: 6rem;
               }
               label{
                  margin-top: 12px;
               }
            }
            .end{
               margin-top: 2rem;
               display: flex;
               justify-content: flex-end;
               -webkit-justify-content: flex-end;

               .button_custom{
                  justify-content: flex-end;
               }
               
            }
         }
      }

      &_img{
         width: 110vw;

         @media screen and (max-width: 1100px) {
            width: 110vw;
         }

         .contact_us_body_img_wrap{

            width: 100%;
            height: 100%;
            position: relative;

            .white_squer{
               width: 100%;
               height: 85%;
               background: #F7F7F9;
               // transform: translate(10%, 0%);
               position: absolute;
               text-align: start;
               padding: 40px 50px;

               @media screen and (max-width: 768px) {
                  height: auto;
                  padding: 40px 25px 20px;
                  position: static;
                  background-color: #fff;
               }

               h2{
                  font-family: RFDewiExpanded-Regular;
                  margin-bottom: 30px;
                  font-size: 15px;
                  line-height: 142%;

                  @media screen and (max-width: 1024px){
                     font-size: 15px;
                  }
               }
               img{
                  margin-right: 12px;
               }
            }
            .contact_us_body_img_img{
               position: absolute;
               bottom: 0;
               transform: translate(-2rem, 0px);
               width: 90%;

               @media screen and (max-width: 768px) {
                  position: relative;
                  transform: none;
                  height: 120vw;
                  display: flex;
               }

               img:first-of-type{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
               }
               img:last-of-type{
                  position:absolute;
                  bottom: 45%;
                  right: 45%;

                  @media screen and (max-width: 768px) {
                     position: absolute;
                     bottom: 50%;
                     right: 105em;
                     width: 50px;
                     height: 50px;
                     
                  }
                  @media screen and (max-width: 425px) {
                     // right: 82em;
                     right: auto;
                     left: auto;
                     width: 100%;
                  }
                  @media screen and (max-width: 320px) {
                     // right: 84em;
                  }
               }
            }
         }
      }
   }
}